:root {
  --background: hsl(0, 0%, 98%);
  --elements: hsl(0, 0%, 100%);
  --input: hsl(0, 0%, 52%);
  --text: hsl(200, 15%, 8%);
  --shadow: hsl(0, 0%, 50%);
}

[data-theme="dark"] {
  --background: hsl(207, 26%, 17%);
  --elements: hsl(209, 23%, 22%);
  --input: hsl(0, 0%, 52%);
  --text: hsl(0, 0%, 100%);
  --shadow: hsl(0, 0%, 00%);
}

html {
  margin: 0;
  box-sizing: border-box;
  color: var(--text);
}

body {
  margin: 0;
  font-family: "Nunito sans", sans-serif;
  background-color: var(--background);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.page {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: 3rem;
  margin-right: 3rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
  background-color: var(--elements);
  padding: 0rem 3rem;
  margin-bottom: 3rem;
}

.navigation {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.topnav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.topnav input[type="text"] {
  border: none;
  outline: none;
  border-radius: 0.25rem;
  max-width: 24rem;
  padding-left: 3rem;
  color: var(--text);
  background-color: var(--elements);
}

::placeholder {
  color: var(--text);
}

@media screen and (max-width: 600px) {
  .topnav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
  }
}

.region {
  border: none;
  appearance: none;
  width: 10rem;
  height: 3rem;
  padding-left: 0.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
  line-height: inherit;
  color: var(--text);
  background-color: var(--elements);
}

.countries-list {
  display: grid;
  justify-content: space-between;
  width: 100vw;
  grid-template-columns: repeat(auto-fill, 25rem);
  row-gap: 5rem;
}

.country {
  display: flex;
  flex-flow: row wrap;
  background-color: var(--elements);
  margin: none;
  cursor: pointer;
  border-radius: 0.25rem;
}

.country img {
  border-radius: 0.25rem 0.25rem 0rem 0rem;
  object-fit: fill;
  overflow: hidden;
  height: 50%;
  width: 100%;
}

h2 {
  margin: 1rem 2rem;
}

p {
  margin: 0rem 1rem 0.5rem 0rem;
  margin-left: 2rem;
  font-size: 1rem;
}

.country,
input,
select,
header {
  box-shadow: 0px 5px 5px 0px var(--shadow);
}

/* Dark Mode Toggle */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
  right: 25px;
  top: 30px;
}

.theme-switch-wrapper span {
  margin-right: 10px;
  font-size: 1rem;
}

.toggle-text {
  position: relative;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  top: -6px;
  right: 5px;
  color: var(--on-background);
}

.theme-switch {
  display: inline-block;
  height: 28px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  width: 60px;
}

.slider::before {
  background: #fff;
  bottom: 4px;
  content: "";
  height: 20px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 20px;
}

input:checked + .slider {
  background: var(--primary-color);
}

input:checked + .slider::before {
  transform: translateX(30px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.fas {
  font-size: 30px;
  margin-right: 5px;
}

.summary {
  width: 100vw;
}

button {
  font-family: "Nunito sans", sans-serif;
  cursor: pointer;
  background-color: var(--elements);
  color: var(--text);
  border-radius: 0.25em;
  box-shadow: 0px 0px 5px 0px var(--shadow);
}

#back-button {
  display: hidden;
  height: 2.5rem;
  width: 9rem;
  margin-bottom: 3rem;
}

.border-countries {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20rem);
  column-gap: 1rem;
}

.border-country {
  height: 2.5rem;
  width: 8rem;
}

.country-details-page-container {
  display: flex;
  flex-direction: column;
  margin: 6rem;
  background-color: var(--background);
}

.country-details-page {
  display: flex;
  flex-direction: row;
}

#image-div {
  display: flex;
  justify-content: left;
  align-items: center;
  max-width: 40%;
  object-fit: cover;
}

.details-flag {
  width: 100vw;
  max-width: 100%;
  height: 25rem;
}

.country-details-page-subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.country-details-page-sub-subcontainer {
  display: flex;
  flex-direction: column;
}

.country-details-page-list {
  display: grid;
  grid-template-columns: auto auto;
}

.border-countries-container {
  display: flex;
  margin-top: 1rem;
}

.border-countries-container p {
  width: 9rem;
  height: 5rem;
}

.border-countries {
  display: grid;
  justify-content: space-between;
  max-width: 45rem;
  min-width: 20rem;
  grid-template-columns: repeat(auto-fill, 8rem);
  row-gap: 0.75rem;
}

.country-details-page h2 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#none {
  cursor: default;
  border: none;
}
